<h1> A tag  Route !!</h1>
<nav>
<ol>
<li> <a routerLink="/home"> Home</a></li>
<li> <a routerLink="/about"> about-us</a></li>
<li> <a routerLink="/contact"> Contact-us</a></li>
</ol>
</nav>

<router-outlet></router-outlet>
<br>

<!--- Button Navigate Start here -->
<h1>Button Navigate </h1>
<button (click)="home()"> Home</button>
<button (click)="aboutus()">About-us</button>
<button (click)="contactUs()">contact-us</button>

<!-- <router-outlet></router-outlet> -->


 <!--- Button Navigate End  here -->