<app-tool-bar [title]="'My Website'" >
  <nav class="navbar">
  <a href="https://www.google.com" target="_blank">Google</a>
  <a href="https://www.gmail.com" target="_blank">Gmail</a>
  <a href="https://www.youtube.com" target="_blank">YouTube</a>
  <a href="https://www.github.com" target="_blank">GitHub</a>
</nav>
</app-tool-bar>



<!-- <nav class="navbar">
  <div class="navbar-title" [title]="'My Website'">My Website</div>
  <ul class="navbar-links">
    <li><a href="https://www.google.com" target="_blank">Google</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav> -->